.color {
  width: 100%;
}
.textboxes {
  background-color:#111;
  border-color:#222;
  color:white;
}
#colors {
  height: 120px;
  display: flex;
  flex-direction: row;
}
#coloredNick p {
  font-size: 4rem;
}