.color {
  width: 100%;
}
.darktextboxes {
  background-color:#111;
  border-color:#222;
  color:white;
}
.darkgray {
  color:darkgray;
}
.gray {
  color:gray;
}
.darkerrortext {
  color:red;
}
.errortext {
  color:darkred;
}
body.dark {
  background-color:black;
  color:white;
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-darkshadow-color: #646464;
}
select.dark {
  background-color:#111;
  border-color:#222;
  color:white;
}
#colors {
  height: 120px;
  display: flex;
  flex-direction: row;
}
@font-face {
   font-family: MinecraftRegular;
   src: url(./assets/fonts/MinecraftRegular.otf);
}
@font-face {
   font-family: MinecraftBold;
   src: url(./assets/fonts/MinecraftBold.otf);
}
@font-face {
   font-family: MinecraftItalic;
   src: url(./assets/fonts/MinecraftItalic.otf);
}
@font-face {
   font-family: MinecraftBoldItalic;
   src: url(./assets/fonts/MinecraftBoldItalic.otf);
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./assets/fonts/Quicksand/300.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./assets/fonts/Quicksand/500.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./assets/fonts/Quicksand/600.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./assets/fonts/Quicksand/700.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: regular;
  font-display: swap;
  font-weight: 400;
  src: url(./assets/fonts/Quicksand/regular.ttf) format('truetype');
}
#coloredNick p {
  font-size: 4rem;
  font-family: MinecraftRegular;
}